$color1kompras: rgb(42, 36, 93);
$color2kompras: rgb(0,112,125);
$color3kompras: rgb(0,86,125);
$color4kompras: rgb(141,206,202);
$color1Portal: rgb(244,155,68);
$color1Portal: rgb(0,135,144);
$color1Portal: rgb(0,86,125);

#countries {
    font-size: larger;
    color: $color1Portal;
}
