.mi-boton {
    background-color: rgb(55, 60, 158);
    color: white;
    padding: 8px 16px;
    text-align: center;
    border: 1px solid black;
    cursor: pointer;
}
.mi-boton:hover {
    background-color: gray
}

.preguntas-tecnicas {
    display: flex;              /*alinea los elementos en la fila*/
    align-items: center;        /*alinea verticalmente los elementos al centro*/
    gap: 15px;                  /*Espacio entre los elementos*/
    margin-bottom: 5px;        /*espacio inferior entre filas*/
    list-style-type: none;      /*Quita el estilo de lista del <li>*/
}
.preguntas-tecnicas label {
    width: 100px;               /*Ancho fijo para las etiquetas*/
    font-weight: bold;          /*Negrita para el texto de la etiqueta*/
}
.preguntas-tecnicas input,
.preguntas-tecnicas select {
    padding: 5px;               /*Espacio interno*/
    width: 200px;               /*ancho uniforme*/
    border: 1px solid #ccc;   /*Borde delgado*/
    border-radius: 4px;         /*Borde redondeado*/
}
